Repository Constructor-io/constructorio-ui-quizzes: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --quiet, prettier --write --ignore-unknown, prettier --write

.lintstagedrc.json:

{
  "src/**/*.ts": ["eslint --fix --quiet", "prettier --write --ignore-unknown"],
  "*.{json,md}": ["prettier --write"]
}

fix copilot review
  spec/components/CioQuiz/index.test.tsx
  spec/hooks/useQuizEvents/useQuizResetClick/useQuizResetClick.test.ts
  src/components/CioQuiz/index.tsx
  src/stories/Quiz/tests/mocks.tsx
  src/styles.css
Due: none

[CDX-338] Fix broken Storybook link in README
  README.md
Due: prettier --write

Update storybook imports
  src/stories/Quiz/Component/ErrorAndZeroResults.stories.tsx
  src/stories/Quiz/Component/QuizResults/ZeroResults.stories.tsx
Due: none

Update file name
  src/stories/Quiz/Component/ErrorState.stories.tsx
Due: none

[AT-12]: gracefully handle errors in quizzes UI (#273)
  spec/components/CioQuiz/index.test.tsx
  spec/components/ResultContainer/ResultContainer.server.test.tsx
  spec/components/ResultContainer/ResultContainer.test.tsx
  spec/components/ZeroResults/ZeroResults.server.test.tsx
  spec/components/ZeroResults/ZeroResults.test.tsx
  spec/hooks/useQuizEvents/useQuizResetClick/useQuizResetClick.server.test.ts
  spec/hooks/useQuizEvents/useQuizResetClick/useQuizResetClick.test.ts
  src/components/CioQuiz/ErrorIconSVG.tsx
  src/components/CioQuiz/index.tsx
  src/components/ZeroResults/LightbulbIconSVG.tsx
  src/components/ZeroResults/ZeroResults.tsx
  src/hooks/useQuizEvents/index.ts
  src/hooks/useQuizEvents/useQuizResetClick.ts
  src/stories/Quiz/Component/ErrorState.stories.tsx
  src/stories/Quiz/Component/QuizResults/QuizResultsDecorator.tsx
  src/stories/Quiz/Component/QuizResults/ZeroResults.stories.tsx
  src/stories/Quiz/tests/mocks.tsx
  src/styles.css
Due: eslint --fix --quiet, prettier --write --ignore-unknown

Update vite configs
  .storybook/main.js
  .storybook/vite.config.js
  package.json
  vite.config.bundle.js
Due: prettier --write

Update vite configs (#281)
  .storybook/main.js
  .storybook/vite.config.js
  package.json
  vite.config.bundle.js
Due: prettier --write

[CDX-338] Fix broken Storybook link in README (#280)
  README.md
Due: prettier --write

Revert "Bump @tootallnate/once and jest-environment-jsdom (#279)"
  package-lock.json
  package.json
Due: prettier --write

Revert "Bump @tootallnate/once and jest-environment-jsdom (#279)" (#282)
  package-lock.json
  package.json
Due: prettier --write

Add custom hooks/callbacks/tests
  spec/components/CioQuiz/index.test.tsx
  spec/components/CioQuiz/reducerTestCases.ts
  spec/components/SummaryPage/SummaryPage.test.tsx
  spec/hooks/useQuizEvents/useProceedToResultsFromSummaryPage/useProceedToResultsFromSummaryPage.server.test.ts
  spec/hooks/useQuizEvents/useProceedToResultsFromSummaryPage/useProceedToResultsFromSummaryPage.test.ts
  spec/hooks/useQuizState/useSessionStorageState/useSessionStorageState.test.tsx
  src/components/CioQuiz/index.tsx
  src/components/SummaryPage/SummaryPage.tsx
  src/constants.ts
  src/hooks/useQuizState/useQuizApiState.ts
  src/hooks/useQuizState/useSessionStorageState.ts
  src/stories/Quiz/Component/ComponentStories.stories.tsx
  src/stories/Quiz/Component/Usage Examples.mdx
  src/styles.css
  src/types.ts
Due: eslint --fix --quiet, prettier --write --ignore-unknown

Address claude review
  spec/components/CioQuiz/index.test.tsx
  src/components/SummaryPage/SummaryPage.tsx
  src/stories/Quiz/Component/Usage Examples.mdx
  src/styles.css
Due: none

Address copilot suggestions
  src/components/SummaryPage/SummaryPage.tsx
  src/hooks/useQuizEvents/useProceedToResultsFromSummaryPage.ts
  src/hooks/useQuizState/index.ts
  src/hooks/useQuizState/useQuizApiState.ts
  src/styles.css
Due: eslint --fix --quiet, prettier --write --ignore-unknown

Remove deprecated arguments from Claude PR Review workflow
  .github/workflows/claude-review.yml
Due: none

Remove deprecated arguments from Claude PR Review workflow (#284)
  .github/workflows/claude-review.yml
Due: none

Update test
  spec/hooks/useQueryParams/useQueryParams.test.tsx
Due: none

Replace individual usernames with team in CODEOWNERS
  .github/CODEOWNERS
Due: none

Replace individual usernames with team in CODEOWNERS (#287)
  .github/CODEOWNERS
Due: none

add quiz option description for single type question
  spec/hooks/usePropsGetters/useSelectInputProps/useSelectInputProps.test.tsx
  src/components/CioQuiz/context.ts
  src/components/CioQuiz/index.tsx
  src/components/SelectTypeQuestion/SelectTypeQuestion.tsx
  src/hooks/usePropsGetters/index.ts
  src/hooks/usePropsGetters/useSelectInputProps.ts
  src/stories/Quiz/Component/QuestionTypes/SingleSelectQuestion.stories.tsx
  src/stories/Quiz/tests/mocks.tsx
  src/types.ts
  src/utils.tsx
Due: eslint --fix --quiet, prettier --write --ignore-unknown

add quiz option description for single type question
  src/components/CioQuiz/context.ts
  src/components/SelectTypeQuestion/SelectTypeQuestion.tsx
  src/hooks/usePropsGetters/index.ts
  src/hooks/usePropsGetters/useSelectInputProps.ts
  src/stories/Quiz/tests/mocks.tsx
  src/types.ts
  src/utils.tsx
Due: eslint --fix --quiet, prettier --write --ignore-unknown

fix review
  spec/hooks/usePropsGetters/useSelectInputProps/useSelectInputProps.test.tsx
  src/components/SelectTypeQuestion/SelectTypeQuestion.tsx
  src/hooks/usePropsGetters/useSelectInputProps.ts
  src/types.ts
  src/utils.tsx
Due: eslint --fix --quiet, prettier --write --ignore-unknown

fix lint
  src/components/SelectTypeQuestion/SelectTypeQuestion.tsx
Due: none

fix review: extend option description to SingleFilterValue and add tests
  spec/utils/utils.test.ts
  src/utils.tsx
Due: none

fix prettier
  src/utils.tsx
Due: none

Display ASA results message on quiz results page
  spec/components/QuizResultsSummary/QuizResultsSummary.server.test.tsx
  spec/components/QuizResultsSummary/QuizResultsSummary.test.tsx
  spec/components/ResultFiltersAndShare/ResultFiltersAndShare.test.tsx
  src/components/QuizResultsSummary/QuizResultsSummary.tsx
  src/components/ResultFiltersAndShare/ResultFiltersAndShare.tsx
  src/stories/Quiz/Component/QuizResults/QuizResults.stories.tsx
  src/stories/Quiz/Component/QuizResults/QuizResultsDecorator.tsx
  src/stories/Quiz/tests/mocks.tsx
Due: none

fix lint
  src/components/ResultFiltersAndShare/ResultFiltersAndShare.tsx
Due: none

fix review
  src/components/ResultFiltersAndShare/ResultFiltersAndShare.tsx
Due: none

fix review: remove unnecessary Selected re-export from SelectTypeQuestion
  src/components/SelectTypeQuestion/SelectTypeQuestion.tsx
Due: none

fix review: initialize singleSelectClicked ref as boolean
  src/hooks/usePropsGetters/useSelectInputProps.ts
Due: eslint --fix --quiet, prettier --write --ignore-unknown

fix review: simplify guard in getDisplayedDescription
  src/utils.tsx
Due: none

fix review: type makeQuestion helper with Question type in tests
  spec/utils/utils.test.ts
Due: none

fix review: normalize option id to string in selected map lookups
  src/hooks/usePropsGetters/useSelectInputProps.ts
Due: eslint --fix --quiet, prettier --write --ignore-unknown

At 100/quiz option description websitejs libraryui library (#292)
  spec/hooks/usePropsGetters/useSelectInputProps/useSelectInputProps.test.tsx
  spec/utils/utils.test.ts
  src/components/CioQuiz/context.ts
  src/components/CioQuiz/index.tsx
  src/components/SelectTypeQuestion/SelectTypeQuestion.tsx
  src/hooks/usePropsGetters/index.ts
  src/hooks/usePropsGetters/useSelectInputProps.ts
  src/stories/Quiz/Component/QuestionTypes/SingleSelectQuestion.stories.tsx
  src/stories/Quiz/tests/mocks.tsx
  src/types.ts
  src/utils.tsx
Due: eslint --fix --quiet, prettier --write --ignore-unknown

Update workflow
  .github/workflows/publish-npm.yml
Due: none

Update workflow (#298)
  .github/workflows/publish-npm.yml
Due: none

fix review
  src/components/ResultFiltersAndShare/ResultFiltersAndShare.tsx
  src/stories/Quiz/tests/mocks.tsx
Due: none

Add .npmrc with ignore-scripts and save-exact
  .npmrc
Due: none
