Repository Constructor-io/constructorio-ui-quizzes: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --quiet, prettier --write --ignore-unknown, prettier --write

minor fix
  .prettierrc
  src/hooks/useQuiz.ts
Due: eslint --fix --quiet, prettier --write --ignore-unknown

Revert "minor fix"
  .prettierrc
  src/hooks/useQuiz.ts
Due: eslint --fix --quiet, prettier --write --ignore-unknown

Revert "minor fix"
  .husky/pre-commit
  .lintstagedrc.json
  .prettierrc
  package-lock.json
  package.json
  src/bundled.jsx
  src/components/CioQuiz/index.tsx
  src/components/CioQuiz/quizApiReducer.ts
  src/components/CioQuiz/quizLocalReducer.ts
  src/components/QuizResultsSummary/QuizResultsSummary.tsx
  src/components/ResultCard/ResultCard.tsx
  src/components/SelectTypeQuestion/SelectTypeQuestion.tsx
  src/hooks/usePropsGetters/index.ts
  src/hooks/usePropsGetters/useAddToFavoritesButtonProps.ts
  src/hooks/usePropsGetters/useNextQuestionButtonProps.ts
  src/hooks/usePropsGetters/useOpenTextInputProps.ts
  src/hooks/usePropsGetters/usePreviousQuestionButtonProps.ts
  src/hooks/usePropsGetters/useSelectInputProps.ts
  src/hooks/usePropsGetters/useSkipQuestionButtonProps.ts
  src/hooks/useQuiz.ts
  src/hooks/useQuizEvents/index.ts
  src/hooks/useQuizEvents/useHydrateQuizLocalState.ts
  src/hooks/useQuizEvents/useQuizAnswerChangeHandler.ts
  src/hooks/useQuizEvents/useQuizNextClick.ts
  src/hooks/useQuizEvents/useQuizSkipClick.ts
  src/hooks/useQuizState/index.ts
  src/hooks/useQuizState/useQuizApiState.ts
  src/hooks/useQuizState/useSessionStorageState.ts
  src/services/index.ts
  src/stories/Quiz/Examples/RetrievingAnswers.tsx
  src/stories/Quiz/tests/index.stories.tsx
  src/stories/Quiz/tests/mocks.tsx
  src/types.ts
  src/utils.tsx
Due: eslint --fix --quiet, prettier --write --ignore-unknown, prettier --write

Revert "minor fix"
  src/__tests__/utils.server.tsx
Due: none

rename return value
  src/__tests__/utils.server.tsx
Due: none

fix
  src/__tests__/utils.server.tsx
Due: none

refactor withContextWrapper
  src/__tests__/utils.tsx
Due: none

minor changes
  src/__tests__/utils.tsx
  src/components/SkipButton/SkipButton.server.test.tsx
  src/components/SkipButton/SkipButton.test.tsx
Due: none

minor changes
  src/components/SkipButton/SkipButton.test.tsx
Due: none

added some test with context wrapper
  src/__tests__/utils.tsx
  src/components/BackButton/BackButton.server.test.tsx
  src/components/BackButton/BackButton.test.tsx
Due: none

fix test
  src/components/BackButton/BackButton.server.test.tsx
Due: none

pre push hook
  .eslintrc.json
  .husky/pre-push
Due: prettier --write

pre push hook
  .husky/pre-push
Due: none

remove pre commit hook
  .husky/pre-commit
  .husky/pre-push
Due: none

extra tests for component
  .eslintrc.json
  src/__tests__/utils.tsx
  src/components/CTAButton/CTAButton.server.test.tsx
  src/components/CTAButton/CTAButton.test.tsx
  src/components/ControlBar/ControlBar.server.test.tsx
  src/components/ControlBar/ControlBar.test.tsx
  src/components/SkipButton/SkipButton.server.test.tsx
Due: prettier --write

re introduce pre commit hook
  .husky/pre-commit
Due: none

re introduce pre commit hook
  src/components/CTAButton/CTAButton.test.tsx
Due: none

restructure test files
  .eslintrc.json
  tests/__tests__/constants.ts
  tests/__tests__/utils.server.tsx
  tests/__tests__/utils.tsx
  tests/components/BackButton/BackButton.server.test.tsx
  tests/components/BackButton/BackButton.test.tsx
  tests/components/CTAButton/CTAButton.server.test.tsx
  tests/components/CTAButton/CTAButton.test.tsx
  tests/components/ControlBar/ControlBar.server.test.tsx
  tests/components/ControlBar/ControlBar.test.tsx
  tests/components/SkipButton/SkipButton.server.test.tsx
  tests/components/SkipButton/SkipButton.test.tsx
  tsconfig.json
Due: prettier --write

minor fixes after moving to tests folder
  jest.config.js
  tests/components/ControlBar/ControlBar.server.test.tsx
  tsconfig.json
Due: prettier --write

rename tests to spec
  .eslintrc.json
  spec/__tests__/constants.ts
  spec/__tests__/utils.server.tsx
  spec/__tests__/utils.tsx
  spec/components/BackButton/BackButton.server.test.tsx
  spec/components/BackButton/BackButton.test.tsx
  spec/components/CTAButton/CTAButton.server.test.tsx
  spec/components/CTAButton/CTAButton.test.tsx
  spec/components/ControlBar/ControlBar.server.test.tsx
  spec/components/ControlBar/ControlBar.test.tsx
  spec/components/SkipButton/SkipButton.server.test.tsx
  spec/components/SkipButton/SkipButton.test.tsx
  tsconfig.eslint.json
  tsconfig.json
Due: prettier --write

update husky with a custom script
  .husky/pre-commit
  .husky/pre-push
  cspell.json
  package-lock.json
  package.json
  scripts/run-tests.ts
  tsconfig.eslint.json
  tsconfig.json
Due: prettier --write

update husky with a custom script
  scripts/run-tests.ts
Due: none

update tests script
  scripts/run-tests.ts
Due: none

refactor run tests
  scripts/run-tests.ts
Due: none

separate ts build file, fix eslint errors
  package.json
  src/stories/Quiz/Examples/RetrievingAnswers.tsx
  src/stories/Quiz/Hooks/HooksStories.stories.tsx
  src/stories/Quiz/tests/mocks.tsx
  tsconfig.build.json
  tsconfig.json
Due: prettier --write

use esModuleInterop in ts config and remove from build
  tsconfig.build.json
  tsconfig.json
Due: prettier --write

added base url for relative imports
  spec/__tests__/utils.server.tsx
  spec/__tests__/utils.tsx
  spec/components/BackButton/BackButton.server.test.tsx
  spec/components/BackButton/BackButton.test.tsx
  spec/components/CTAButton/CTAButton.server.test.tsx
  spec/components/CTAButton/CTAButton.test.tsx
  spec/components/ControlBar/ControlBar.server.test.tsx
  spec/components/ControlBar/ControlBar.test.tsx
  spec/components/SkipButton/SkipButton.server.test.tsx
  spec/components/SkipButton/SkipButton.test.tsx
  tsconfig.json
Due: prettier --write

Revert "added base url for relative imports"
  spec/__tests__/utils.server.tsx
  spec/__tests__/utils.tsx
  spec/components/BackButton/BackButton.server.test.tsx
  spec/components/BackButton/BackButton.test.tsx
  spec/components/CTAButton/CTAButton.server.test.tsx
  spec/components/CTAButton/CTAButton.test.tsx
  spec/components/ControlBar/ControlBar.server.test.tsx
  spec/components/ControlBar/ControlBar.test.tsx
  spec/components/SkipButton/SkipButton.server.test.tsx
  spec/components/SkipButton/SkipButton.test.tsx
  tsconfig.json
Due: prettier --write

update config for ts
  tsconfig.build.json
  tsconfig.json
Due: prettier --write

update test run script
  scripts/run-tests.ts
Due: none

check when tests fail on push hook
  scripts/run-tests.ts
  spec/components/BackButton/BackButton.test.tsx
Due: none

Path conditions:
  eslint --fix --quiet: any of: src/**/*.ts
  prettier --write --ignore-unknown: any of: src/**/*.ts
  prettier --write: any of: *.{json,md}
