Repository Constructor-io/constructorio-ui-quizzes: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --quiet, prettier --write --ignore-unknown, prettier --write

.lintstagedrc.json:

{
  "src/**/*.ts": ["eslint --fix --quiet", "prettier --write --ignore-unknown"],
  "*.{json,md}": ["prettier --write"]
}

Update summary text implementation
  spec/components/QuizResultsSummary/QuizResultsSummary.server.test.tsx
  spec/components/QuizResultsSummary/QuizResultsSummary.test.tsx
  src/utils.tsx
Due: none

Update the placeholder text
  src/components/ShareResultsModal/EmailField.tsx
Due: none

Add share results modal email placeholder (#193)
  src/components/ShareResultsModal/EmailField.tsx
Due: none

Ci 3728 os UI quizzes support closing toast notifications on share (#192)
  spec/components/ShareResultsModal/Toaster.test.server.tsx
  spec/components/ShareResultsModal/Toaster.test.tsx
  src/components/ShareResultsModal/CloseSVG.tsx
  src/components/ShareResultsModal/EmailField.tsx
  src/components/ShareResultsModal/LinkField.tsx
  src/components/ShareResultsModal/Toaster.tsx
  src/styles.css
Due: none

Typo
  spec/components/QuizResultsSummary/QuizResultsSummary.server.test.tsx
Due: none

Minor Docs markdown fix (#191)
  src/stories/Quiz/Hooks/Docs/markdown/StateDocs.md
Due: prettier --write

[CI-3756] Fix formatting bug in results page (#194)
  spec/components/QuizResultsSummary/QuizResultsSummary.server.test.tsx
  spec/components/QuizResultsSummary/QuizResultsSummary.test.tsx
  src/utils.tsx
Due: none

Make disabled button accessible
  spec/components/CTAButton/CTAButton.server.test.tsx
  spec/components/CTAButton/CTAButton.test.tsx
  src/components/CTAButton/CTAButton.tsx
  src/hooks/usePropsGetters/useNextQuestionButtonProps.ts
  src/types.ts
Due: eslint --fix --quiet, prettier --write --ignore-unknown

Update tab index
  src/hooks/usePropsGetters/useNextQuestionButtonProps.ts
Due: eslint --fix --quiet, prettier --write --ignore-unknown

Update src/components/CTAButton/CTAButton.tsx
  src/components/CTAButton/CTAButton.tsx
Due: none

Update spec/components/CTAButton/CTAButton.server.test.tsx
  spec/components/CTAButton/CTAButton.server.test.tsx
Due: none

Update spec/components/CTAButton/CTAButton.test.tsx
  spec/components/CTAButton/CTAButton.test.tsx
Due: none

Ci 3744 quizzes os UI make disabled buttons ada compliant (#195)
  spec/components/CTAButton/CTAButton.server.test.tsx
  spec/components/CTAButton/CTAButton.test.tsx
  src/components/CTAButton/CTAButton.tsx
  src/hooks/usePropsGetters/useNextQuestionButtonProps.ts
  src/types.ts
Due: eslint --fix --quiet, prettier --write --ignore-unknown

Update business entity name
  LICENSE
  package.json
Due: prettier --write

Update CodeQL version
  .github/workflows/codeql-analysis.yml
Due: none

Update CodeQL version (#199)
  .github/workflows/codeql-analysis.yml
Due: none

Update business entity name (#198)
  LICENSE
  package.json
Due: prettier --write

Resolve Dependabot
  package-lock.json
Due: prettier --write

Add share results modal callbacks
  spec/components/CioQuiz/index.test.tsx
  src/components/CioQuiz/index.tsx
  src/types.ts
Due: eslint --fix --quiet, prettier --write --ignore-unknown

Update docs
  src/stories/Quiz/argTypes.ts
  src/stories/Quiz/tests/mocks.tsx
Due: eslint --fix --quiet, prettier --write --ignore-unknown

update email error logic
  src/components/ShareResultsModal/EmailField.tsx
  src/styles.css
Due: none

remove whitespace changes
  src/styles.css
Due: none

Resolve Dependabot (#202)
  package-lock.json
Due: prettier --write

Add share results modal callbacks (#204)
  spec/components/CioQuiz/index.test.tsx
  src/components/CioQuiz/index.tsx
  src/stories/Quiz/argTypes.ts
  src/stories/Quiz/tests/mocks.tsx
  src/types.ts
Due: eslint --fix --quiet, prettier --write --ignore-unknown

update submitted status
  src/components/ShareResultsModal/EmailField.tsx
Due: none

Add test
  spec/components/ShareResultsModal/ShareResultsModal.test.tsx
Due: none

update email error logic (#205)
  spec/components/ShareResultsModal/ShareResultsModal.test.tsx
  src/components/ShareResultsModal/EmailField.tsx
  src/styles.css
Due: none

Add custom render result card
  src/components/ResultContainer/ResultContainer.tsx
  src/components/Results/Results.tsx
  src/stories/Quiz/Component/ComponentStories.stories.tsx
  src/stories/Quiz/Component/Usage Examples.mdx
  src/types.ts
Due: eslint --fix --quiet, prettier --write --ignore-unknown

Add tests
  spec/components/Results/Results.server.test.tsx
  spec/components/Results/Results.test.tsx
Due: none

Add docs
  src/stories/Quiz/Component/Usage Examples.mdx
  src/stories/Quiz/argTypes.ts
Due: eslint --fix --quiet, prettier --write --ignore-unknown

Add custom render result card (#209)
  spec/components/Results/Results.server.test.tsx
  spec/components/Results/Results.test.tsx
  src/components/ResultContainer/ResultContainer.tsx
  src/components/Results/Results.tsx
  src/stories/Quiz/Component/ComponentStories.stories.tsx
  src/stories/Quiz/Component/Usage Examples.mdx
  src/stories/Quiz/argTypes.ts
  src/types.ts
Due: eslint --fix --quiet, prettier --write --ignore-unknown

reset quiz state when quiz id changes
  spec/hooks/usePrevious/usePrevious.server.test.tsx
  spec/hooks/usePrevious/usePrevious.test.tsx
  src/hooks/usePrevious.ts
  src/hooks/useQuiz.ts
Due: eslint --fix --quiet, prettier --write --ignore-unknown

reset quiz state when quiz id changes (#210)
  spec/hooks/usePrevious/usePrevious.server.test.tsx
  spec/hooks/usePrevious/usePrevious.test.tsx
  src/hooks/usePrevious.ts
  src/hooks/useQuiz.ts
Due: eslint --fix --quiet, prettier --write --ignore-unknown

Update header image URLs
  .storybook/cioTheme.js
Due: none

reset quiz context on props change
  spec/hooks/usePrevious/usePrevious.test.tsx
  src/hooks/usePrevious.ts
  src/hooks/useQuiz.ts
  src/hooks/useQuizState/useQuizApiState.ts
Due: eslint --fix --quiet, prettier --write --ignore-unknown

fix bug on re render
  src/hooks/useQuiz.ts
  src/hooks/useQuizState/useQuizApiState.ts
Due: eslint --fix --quiet, prettier --write --ignore-unknown

modify session storage to store multiple quiz data
  src/hooks/useQuiz.ts
  src/hooks/useQuizEvents/index.ts
  src/hooks/useQuizEvents/useHydrateQuizLocalState.ts
  src/hooks/useQuizState/index.ts
  src/hooks/useQuizState/useSessionStorageState.ts
  src/stories/Quiz/Component/ComponentStories.stories.tsx
  src/utils.tsx
Due: eslint --fix --quiet, prettier --write --ignore-unknown

revert unwanted changes
  src/stories/Quiz/Component/ComponentStories.stories.tsx
Due: none

remove unused imports
  src/hooks/useQuiz.ts
Due: eslint --fix --quiet, prettier --write --ignore-unknown

update tests
  spec/hooks/useQuizEvents/useHydrateQuizLocalState/useHydrateQuizLocalState.server.test.tsx
  spec/hooks/useQuizEvents/useHydrateQuizLocalState/useHydrateQuizLocalState.test.tsx
  spec/hooks/useQuizState/useQuizApiState/useQuizApiState.test.tsx
  spec/hooks/useQuizState/useSessionStorageState/useSessionStorageState.server.test.tsx
  spec/hooks/useQuizState/useSessionStorageState/useSessionStorageState.test.tsx
  spec/utils/utils.test.ts
  src/hooks/useQuizState/useSessionStorageState.ts
Due: eslint --fix --quiet, prettier --write --ignore-unknown
