Repository Constructor-io/constructorio-ui-quizzes: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --quiet, prettier --write --ignore-unknown, prettier --write

fix issue with jump logic
  src/components/CioQuiz/quizLocalReducer.ts
  src/hooks/usePropsGetters/useJumpToQuestionButtonProps.ts
Due: eslint --fix --quiet, prettier --write --ignore-unknown

[CDX-258] Update CODEOWNERS
  .github/CODEOWNERS
Due: none

[CDX-258] Update CODEOWNERS (#252)
  .github/CODEOWNERS
Due: none

Rename hook userResult -> useResultCard
  spec/components/ResultCard/ResultCard.server.test.tsx
  spec/components/ResultCard/ResultCard.test.tsx
  spec/hooks/useResultCard/useResultCard.server.test.tsx
  spec/hooks/useResultCard/useResultCard.test.tsx
  src/components/ResultCard/ResultCard.tsx
  src/hooks/useResultCard.tsx
  src/index.ts
  src/stories/Quiz/Hooks/Docs/markdown/UseResultDocs.md
  src/stories/Quiz/Hooks/Docs/useResult.mdx
Due: eslint --fix --quiet, prettier --write --ignore-unknown, prettier --write

Rename ResultCardOptions in ResultCard.tsx to ResultCardProps to avoid collision
  src/components/ResultCard/ResultCard.tsx
Due: none

Move swatchImageKey with the rest of keys
  src/components/ResultContainer/ResultContainer.tsx
Due: none

Apply suggestion from @Mudaafi
  src/components/ResultCardSwatches/ResultCardSwatches.tsx
Due: none

Apply suggestion from @Mudaafi
  src/hooks/useResultCard.tsx
Due: none

Apply suggestion from @Copilot
  src/hooks/useResultCard.tsx
Due: none

Apply suggestion from @Mudaafi
  src/stories/Quiz/Hooks/Docs/markdown/UseResultDocs.md
Due: prettier --write

Move useResultCard to Other Hooks
  src/stories/Quiz/Hooks/Docs/useResult.mdx
Due: none

Add missing import
  src/hooks/useResultCard.tsx
Due: none

Add key to swatches buttons
  src/components/ResultCardSwatches/ResultCardSwatches.tsx
Due: none

Update publish-npm.yml
  .github/workflows/publish-npm.yml
Due: none

Update publish-npm.yml (#253)
  .github/workflows/publish-npm.yml
Due: none

added tests for new hooks
  spec/hooks/usePropsGetters/useJumpToQuestionButtonProps/useJumpToQuestionButtonProps.server.test.ts
  spec/hooks/usePropsGetters/useJumpToQuestionButtonProps/useJumpToQuestionButtonProps.test.ts
  spec/hooks/useQuizEvents/useJumpToQuestion/useJumpToQuestion.server.test.ts
  spec/hooks/useQuizEvents/useJumpToQuestion/useJumpToQuestion.test.ts
  src/components/CioQuiz/quizLocalReducer.ts
  src/hooks/usePropsGetters/useJumpToQuestionButtonProps.ts
  src/hooks/useQuizEvents/index.ts
  src/hooks/useQuizEvents/useJumpToQuestion.ts
Due: eslint --fix --quiet, prettier --write --ignore-unknown

added documentation
  src/stories/Quiz/Hooks/Docs/markdown/QuizQuestionsPropGettersDocs.md
Due: prettier --write

Fix jumping to question on results step, fix jumping logic, enhance docs
  src/components/CioQuiz/quizLocalReducer.ts
  src/hooks/useQuizState/useSessionStorageState.ts
  src/stories/Quiz/Hooks/Docs/markdown/QuizQuestionsPropGettersDocs.md
Due: eslint --fix --quiet, prettier --write --ignore-unknown, prettier --write

corrected jump logic, addressed comments
  spec/components/CioQuiz/reducerTestCases.ts
  src/components/CioQuiz/quizLocalReducer.ts
  src/hooks/useQuizState/useSessionStorageState.ts
  src/stories/Quiz/Hooks/Docs/markdown/QuizQuestionsPropGettersDocs.md
Due: eslint --fix --quiet, prettier --write --ignore-unknown, prettier --write

added tests
  spec/hooks/useQuizEvents/useJumpToQuestion/useJumpToQuestion.test.ts
  spec/hooks/useQuizEvents/useQuizResetClick/useQuizResetClick.server.test.ts
  spec/hooks/useQuizEvents/useQuizResetClick/useQuizResetClick.test.ts
Due: none

customise click event on single select question
  spec/hooks/usePropsGetters/useSelectInputProps/useSelectInputProps.test.tsx
  src/hooks/usePropsGetters/index.ts
  src/hooks/usePropsGetters/useSelectInputProps.ts
  src/hooks/useQuiz.ts
  src/types.ts
Due: eslint --fix --quiet, prettier --write --ignore-unknown

Add disabled state + Disable button for invalid ids
  spec/hooks/usePropsGetters/useJumpToQuestionButtonProps/useJumpToQuestionButtonProps.server.test.ts
  spec/hooks/usePropsGetters/useJumpToQuestionButtonProps/useJumpToQuestionButtonProps.test.ts
  src/hooks/usePropsGetters/index.ts
  src/hooks/usePropsGetters/useJumpToQuestionButtonProps.ts
Due: eslint --fix --quiet, prettier --write --ignore-unknown

Fix missing callbacks
  src/stories/Quiz/Examples/RetrievingAnswers.tsx
Due: none

Guard empty callbacks
  src/hooks/useQuizState/useQuizApiState.ts
Due: eslint --fix --quiet, prettier --write --ignore-unknown

No ref/new prop to jump to question (#254)
  spec/components/CioQuiz/reducerTestCases.ts
  spec/hooks/usePropsGetters/useJumpToQuestionButtonProps/useJumpToQuestionButtonProps.server.test.ts
  spec/hooks/usePropsGetters/useJumpToQuestionButtonProps/useJumpToQuestionButtonProps.test.ts
  spec/hooks/usePropsGetters/useSelectInputProps/useSelectInputProps.test.tsx
  spec/hooks/useQuizEvents/useJumpToQuestion/useJumpToQuestion.server.test.ts
  spec/hooks/useQuizEvents/useJumpToQuestion/useJumpToQuestion.test.ts
  spec/hooks/useQuizEvents/useQuizResetClick/useQuizResetClick.server.test.ts
  spec/hooks/useQuizEvents/useQuizResetClick/useQuizResetClick.test.ts
  src/components/CioQuiz/actions.ts
  src/components/CioQuiz/context.ts
  src/components/CioQuiz/index.tsx
  src/components/CioQuiz/quizApiReducer.ts
  src/components/CioQuiz/quizLocalReducer.ts
  src/hooks/usePropsGetters/index.ts
  src/hooks/usePropsGetters/useJumpToQuestionButtonProps.ts
  src/hooks/usePropsGetters/useSelectInputProps.ts
  src/hooks/useQuiz.ts
  src/hooks/useQuizEvents/index.ts
  src/hooks/useQuizEvents/useJumpToQuestion.ts
  src/hooks/useQuizEvents/useQuizResetClick.ts
  src/hooks/useQuizState/useQuizApiState.ts
  src/hooks/useQuizState/useSessionStorageState.ts
  src/stories/Quiz/Examples/RetrievingAnswers.tsx
  src/stories/Quiz/Hooks/Docs/markdown/EventsDocs.md
  src/stories/Quiz/Hooks/Docs/markdown/QuizQuestionsPropGettersDocs.md
  src/types.ts
Due: eslint --fix --quiet, prettier --write --ignore-unknown, prettier --write

fix breaking ui tests
  src/stories/Quiz/Component/ComponentStories.stories.tsx
  src/stories/Quiz/Examples/RetrievingAnswers.tsx
Due: none

[NO-REF] - update metadata types for quiz state
  src/types.ts
Due: eslint --fix --quiet, prettier --write --ignore-unknown

Update client-js version
  package-lock.json
  package.json
Due: prettier --write

Update factory
  spec/__tests__/factories/questions.ts
Due: none

[NO-REF] - update metadata types for quiz state (#255)
  package-lock.json
  package.json
  spec/__tests__/factories/questions.ts
  src/types.ts
Due: eslint --fix --quiet, prettier --write --ignore-unknown, prettier --write

[NO-REF] - add filter question option export
  src/types.ts
Due: eslint --fix --quiet, prettier --write --ignore-unknown

[NO-REF] - add filter question option export (#256)
  src/types.ts
Due: eslint --fix --quiet, prettier --write --ignore-unknown

bump packages
  package-lock.json
Due: prettier --write

Include playwright as a dev dependency
  package-lock.json
  package.json
Due: prettier --write

Remove playwright as a dependancy, install playwright in the workflow
  .github/workflows/test-storybook.yml
  package-lock.json
  package.json
Due: prettier --write

Remove unneeded eslint rule
  .eslintrc.json
  package-lock.json
  package.json
Due: prettier --write

Bump Axios, Playwright and Vite (#259)
  .eslintrc.json
  .github/workflows/test-storybook.yml
  package-lock.json
  package.json
Due: prettier --write

Add CC workflow
  .claude/commands/review.md
  .github/workflows/claude-review.yml
Due: prettier --write

Add CC workflow (#261)
  .claude/commands/review.md
  .github/workflows/claude-review.yml
Due: prettier --write

Path conditions:
  eslint --fix --quiet: any of: src/**/*.ts
  prettier --write --ignore-unknown: any of: src/**/*.ts
  prettier --write: any of: *.{json,md}
