Repository Constructor-io/constructorio-ui-quizzes: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --quiet, prettier --write --ignore-unknown, prettier --write

fix test
  spec/hooks/useQuizEvents/useHydrateQuizLocalState/useHydrateQuizLocalState.test.tsx
Due: none

Update header image URLs (#211)
  .storybook/cioTheme.js
Due: none

Update favicon
  .storybook/manager-head.html
Due: none

Support multiple quizzes
  spec/hooks/useQuizEvents/useHydrateQuizLocalState/useHydrateQuizLocalState.server.test.tsx
  spec/hooks/useQuizEvents/useHydrateQuizLocalState/useHydrateQuizLocalState.test.tsx
  src/hooks/useQuiz.ts
  src/hooks/useQuizEvents/index.ts
  src/hooks/useQuizEvents/useHydrateQuizLocalState.ts
Due: eslint --fix --quiet, prettier --write --ignore-unknown

Remove usePrevious
  spec/hooks/usePrevious/usePrevious.server.test.tsx
  spec/hooks/usePrevious/usePrevious.test.tsx
  spec/hooks/useQuizState/useQuizApiState/useQuizApiState.test.tsx
  src/hooks/usePrevious.ts
  src/hooks/useQuizState/useQuizApiState.ts
  src/hooks/useQuizState/useSessionStorageState.ts
  src/stories/Quiz/Component/ComponentStories.stories.tsx
Due: eslint --fix --quiet, prettier --write --ignore-unknown

lint
  src/stories/Quiz/Component/ComponentStories.stories.tsx
Due: none

Support multiple quizzes (#214)
  spec/hooks/usePrevious/usePrevious.server.test.tsx
  spec/hooks/usePrevious/usePrevious.test.tsx
  spec/hooks/useQuizEvents/useHydrateQuizLocalState/useHydrateQuizLocalState.server.test.tsx
  spec/hooks/useQuizEvents/useHydrateQuizLocalState/useHydrateQuizLocalState.test.tsx
  spec/hooks/useQuizState/useSessionStorageState/useSessionStorageState.server.test.tsx
  spec/hooks/useQuizState/useSessionStorageState/useSessionStorageState.test.tsx
  spec/utils/utils.test.ts
  src/hooks/usePrevious.ts
  src/hooks/useQuiz.ts
  src/hooks/useQuizEvents/index.ts
  src/hooks/useQuizEvents/useHydrateQuizLocalState.ts
  src/hooks/useQuizState/index.ts
  src/hooks/useQuizState/useSessionStorageState.ts
  src/stories/Quiz/Component/ComponentStories.stories.tsx
  src/utils.tsx
Due: eslint --fix --quiet, prettier --write --ignore-unknown

Update favicon (#213)
  .storybook/manager-head.html
Due: none

added more getters
  src/components/Results/Results.tsx
  src/types.ts
Due: eslint --fix --quiet, prettier --write --ignore-unknown

remove unwanted changes
  spec/hooks/usePrevious/usePrevious.test.tsx
  spec/hooks/useQuizState/useQuizApiState/useQuizApiState.test.tsx
  src/hooks/usePrevious.ts
  src/hooks/useQuizState/useQuizApiState.ts
  src/hooks/useQuizState/useSessionStorageState.ts
Due: eslint --fix --quiet, prettier --write --ignore-unknown

No ref/update getters for custom result card renders (#215)
  src/components/Results/Results.tsx
  src/types.ts
Due: eslint --fix --quiet, prettier --write --ignore-unknown

add answers and version id to share results
  spec/components/ShareResultsModal/ShareResultsModal.test.tsx
  spec/hooks/useQueryParams/useQueryParams.test.tsx
  spec/hooks/useQuizState/useQuizApiState/useQuizApiState.test.tsx
  spec/hooks/useShareResultsLink/useShareResultsLink.test.tsx
  src/components/CioQuiz/index.tsx
  src/components/ShareResultsModal/ShareResultsModal.tsx
  src/hooks/useQueryParams.ts
  src/hooks/useQuiz.ts
  src/hooks/useQuizState/useQuizApiState.ts
  src/hooks/useQuizState/useSessionStorageState.ts
  src/hooks/useShareResultsLink.ts
  src/types.ts
Due: eslint --fix --quiet, prettier --write --ignore-unknown

add answers and version id to share results
  spec/components/ShareResultsModal/ShareResultsModal.server.test.tsx
  spec/hooks/useShareResultsLink/useShareResultsLink.server.test.tsx
Due: none

fix types in mocks
  src/stories/Quiz/tests/mocks.tsx
Due: none

conditionally calling result api on share result
  src/hooks/useQuizState/useQuizApiState.ts
Due: eslint --fix --quiet, prettier --write --ignore-unknown

update from comments
  spec/hooks/usePrevious/usePrevious.test.tsx
  src/components/CioQuiz/index.tsx
  src/hooks/usePrevious.ts
  src/hooks/useQuiz.ts
  src/hooks/useQuizState/useQuizApiState.ts
  src/stories/Quiz/tests/mocks.tsx
  src/types.ts
Due: eslint --fix --quiet, prettier --write --ignore-unknown

make callbacks required
  src/stories/Quiz/Component/Props.mdx
  src/stories/Quiz/Hooks/Docs/Props.mdx
  src/stories/Quiz/argTypes.ts
  src/types.ts
Due: eslint --fix --quiet, prettier --write --ignore-unknown

fix tests
  cspell.json
  spec/hooks/useConsoleErrors/useConsoleErrors.test.tsx
  spec/hooks/useQuizState/useQuizApiState/useQuizApiState.server.test.tsx
  spec/hooks/useQuizState/useQuizApiState/useQuizApiState.test.tsx
Due: prettier --write

fix getQuizResultLinkProps type
  src/types.ts
Due: eslint --fix --quiet, prettier --write --ignore-unknown

Fix quiz hydration bug when the quizId gets updated
  src/hooks/useQuizEvents/useHydrateQuizLocalState.ts
Due: eslint --fix --quiet, prettier --write --ignore-unknown

fix getQuizResultLinkProps type (#218)
  src/types.ts
Due: eslint --fix --quiet, prettier --write --ignore-unknown

Fix quiz hydration bug when the quizId gets updated (#219)
  src/hooks/useQuizEvents/useHydrateQuizLocalState.ts
Due: eslint --fix --quiet, prettier --write --ignore-unknown

[QUIZ-798] quizzes UI update share results link (#216)
  spec/components/ShareResultsModal/ShareResultsModal.server.test.tsx
  spec/components/ShareResultsModal/ShareResultsModal.test.tsx
  spec/hooks/useQueryParams/useQueryParams.test.tsx
  spec/hooks/useShareResultsLink/useShareResultsLink.server.test.tsx
  spec/hooks/useShareResultsLink/useShareResultsLink.test.tsx
  src/components/CioQuiz/index.tsx
  src/components/ShareResultsModal/ShareResultsModal.tsx
  src/hooks/useQueryParams.ts
  src/hooks/useQuiz.ts
  src/hooks/useQuizState/useQuizApiState.ts
  src/hooks/useShareResultsLink.ts
  src/stories/Quiz/tests/mocks.tsx
  src/types.ts
Due: eslint --fix --quiet, prettier --write --ignore-unknown

Use ts-expect-error declaration
  spec/hooks/useConsoleErrors/useConsoleErrors.test.tsx
Due: none

ts-expect-error declaration
  spec/hooks/useConsoleErrors/useConsoleErrors.test.tsx
Due: none

[CI-4062] Make callbacks prop required (#217)
  cspell.json
  spec/hooks/useConsoleErrors/useConsoleErrors.test.tsx
  spec/hooks/useQuizState/useQuizApiState/useQuizApiState.server.test.tsx
  spec/hooks/useQuizState/useQuizApiState/useQuizApiState.test.tsx
  src/stories/Quiz/Component/Props.mdx
  src/stories/Quiz/Hooks/Docs/Props.mdx
  src/stories/Quiz/argTypes.ts
  src/types.ts
Due: eslint --fix --quiet, prettier --write --ignore-unknown, prettier --write

Fix deploy-storybook github workflow
  .github/workflows/deploy-storybook.yml
Due: none

Support getResultCardImage url for a custom image url
  spec/components/ResultCard/ResultCard.server.test.tsx
  spec/components/ResultCard/ResultCard.test.tsx
  src/components/ResultCard/ResultCard.tsx
  src/components/Results/Results.tsx
  src/types.ts
Due: eslint --fix --quiet, prettier --write --ignore-unknown

Fix deploy-storybook github workflow (#222)
  .github/workflows/deploy-storybook.yml
Due: none

pass result instead of imageUrl
  src/components/ResultCard/ResultCard.tsx
  src/types.ts
Due: eslint --fix --quiet, prettier --write --ignore-unknown

Support getResultCardImage url for a custom image url (#223)
  spec/components/ResultCard/ResultCard.server.test.tsx
  spec/components/ResultCard/ResultCard.test.tsx
  src/components/ResultCard/ResultCard.tsx
  src/components/Results/Results.tsx
  src/types.ts
Due: eslint --fix --quiet, prettier --write --ignore-unknown

fix getResultCardImageUrl
  src/components/ResultContainer/ResultContainer.tsx
Due: none

fix getResultCardImageUrl (#225)
  src/components/ResultContainer/ResultContainer.tsx
Due: none

add callback for open question
  spec/components/OpenTextTypeQuestion/OpenTextTypeQuestion.test.tsx
  src/hooks/usePropsGetters/index.ts
  src/hooks/usePropsGetters/useNextQuestionButtonProps.ts
  src/hooks/usePropsGetters/useOpenTextInputProps.ts
  src/hooks/useQuiz.ts
  src/types.ts
Due: eslint --fix --quiet, prettier --write --ignore-unknown

update naming
  spec/components/OpenTextTypeQuestion/OpenTextTypeQuestion.test.tsx
  src/hooks/usePropsGetters/index.ts
  src/hooks/usePropsGetters/useNextQuestionButtonProps.ts
  src/hooks/usePropsGetters/useOpenTextInputProps.ts
  src/hooks/useQuiz.ts
  src/types.ts
Due: eslint --fix --quiet, prettier --write --ignore-unknown

Add support for variations on quiz results page
  spec/__tests__/constants.ts
  src/components/CioQuiz/context.ts
  src/components/CioQuiz/index.tsx
  src/components/ResultCard/ResultCard.tsx
  src/components/ResultCard/useResult.tsx
  src/components/ResultCardSwatches/ResultCardSwatches.tsx
  src/components/ResultContainer/ResultContainer.tsx
  src/components/Results/Results.tsx
  src/hooks/usePropsGetters/index.ts
  src/services/index.ts
  src/styles.css
  src/types.ts
Due: eslint --fix --quiet, prettier --write --ignore-unknown

Add tests
  spec/components/ResultCardSwatches/ResultCardSwatches.server.test.tsx
  spec/components/ResultCardSwatches/ResultCardSwatches.test.tsx
  spec/hooks/useResult/useResult.server.test.tsx
  spec/hooks/useResult/useResult.test.tsx
  src/components/ResultCard/ResultCard.tsx
  src/components/ResultCard/useResult.tsx
  src/components/ResultCardSwatches/ResultCardSwatches.tsx
  src/hooks/usePropsGetters/index.ts
  src/hooks/useResult.tsx
  src/stories/Quiz/Component/ComponentStories.stories.tsx
  src/types.ts
Due: eslint --fix --quiet, prettier --write --ignore-unknown

support render props
  spec/components/ResultCardSwatches/ResultCardSwatches.server.test.tsx
  spec/components/ResultCardSwatches/ResultCardSwatches.test.tsx
  src/components/ResultCard/ResultCard.tsx
  src/components/ResultCardSwatches/ResultCardSwatches.tsx
  src/components/Results/Results.tsx
  src/stories/Quiz/Component/ComponentStories.stories.tsx
  src/stories/Quiz/Component/Usage Examples.mdx
  src/types.ts
Due: eslint --fix --quiet, prettier --write --ignore-unknown

update test
  spec/components/ResultCard/ResultCard.test.tsx
Due: none

refactor
  spec/components/ResultCard/ResultCard.test.tsx
  spec/components/ResultCardSwatches/ResultCardSwatches.server.test.tsx
  spec/components/ResultCardSwatches/ResultCardSwatches.test.tsx
  src/components/CioQuiz/context.ts
  src/components/CioQuiz/index.tsx
  src/components/ResultCard/ResultCard.tsx
  src/components/ResultCardSwatches/ResultCardSwatches.tsx
  src/hooks/usePropsGetters/index.ts
  src/hooks/useResult.tsx
  src/types.ts
Due: eslint --fix --quiet, prettier --write --ignore-unknown

Path conditions:
  eslint --fix --quiet: any of: src/**/*.ts
  prettier --write --ignore-unknown: any of: src/**/*.ts
  prettier --write: any of: *.{json,md}
