Repository Constructor-io/constructorio-ui-quizzes: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --quiet, prettier --write --ignore-unknown, prettier --write

.lintstagedrc.json:

{
  "src/**/*.ts": ["eslint --fix --quiet", "prettier --write --ignore-unknown"],
  "*.{json,md}": ["prettier --write"]
}

Add hooks docs
  src/index.ts
  src/stories/Quiz/Hooks/Docs/markdown/UseResultDocs.md
  src/stories/Quiz/Hooks/Docs/useResult.mdx
Due: eslint --fix --quiet, prettier --write --ignore-unknown, prettier --write

Fix cspell action
  .github/workflows/spell-check.yml
Due: none

update result card tests
  spec/components/ResultCard/ResultCard.server.test.tsx
  spec/components/ResultCard/ResultCard.test.tsx
  spec/components/Results/Results.server.test.tsx
  spec/components/Results/Results.test.tsx
Due: none

Update tests
  spec/components/ResultCard/ResultCard.server.test.tsx
  spec/components/ResultCard/ResultCard.test.tsx
  src/components/ResultCard/ResultCard.tsx
  src/stories/Quiz/Component/ComponentStories.stories.tsx
  src/stories/Quiz/Hooks/Docs/markdown/UseResultDocs.md
  src/stories/Quiz/Hooks/Docs/useResult.mdx
  src/types.ts
Due: eslint --fix --quiet, prettier --write --ignore-unknown, prettier --write

Facets as options
  spec/__tests__/factories/questions.ts
  spec/components/CioQuiz/reducerTestCases.ts
  spec/components/SelectTypeQuestion/SelectTypeQuestion.server.test.tsx
  spec/components/SelectTypeQuestion/SelectTypeQuestion.test.tsx
  spec/hooks/usePropsGetters/useSelectInputProps/useSelectInputProps.test.tsx
  spec/utils/utils.server.test.tsx
  spec/utils/utils.test.ts
  src/components/CioQuiz/actions.ts
  src/components/CioQuiz/quizApiReducer.ts
  src/components/CioQuiz/quizLocalReducer.ts
  src/components/SelectTypeQuestion/SelectTypeQuestion.tsx
  src/hooks/usePropsGetters/useSelectInputProps.ts
  src/hooks/useQuizEvents/useQuizAnswerChangeHandler.ts
  src/stories/Quiz/tests/mocks.tsx
  src/types.ts
  src/utils.tsx
Due: eslint --fix --quiet, prettier --write --ignore-unknown

Fix linting
  src/components/CioQuiz/quizLocalReducer.ts
  src/hooks/usePropsGetters/useSelectInputProps.ts
Due: eslint --fix --quiet, prettier --write --ignore-unknown

Update constructor javascript package
  package-lock.json
  package.json
Due: prettier --write

Mock fetch for client-side testing
  .d.ts
  jest.setup.ts
  package-lock.json
  package.json
Due: prettier --write

Fix index test
  src/stories/Quiz/tests/index.stories.tsx
Due: none

Rename facet question types to align with the current naming agreement
  spec/components/CioQuiz/reducerTestCases.ts
  spec/utils/utils.server.test.tsx
  spec/utils/utils.test.ts
  src/components/CioQuiz/quizApiReducer.ts
  src/stories/Quiz/tests/mocks.tsx
  src/types.ts
  src/utils.tsx
Due: eslint --fix --quiet, prettier --write --ignore-unknown

Add Dependabot check
  .github/workflows/dependabot-alerts-to-slack.yml
Due: none

Add Dependabot check (#237)
  .github/workflows/dependabot-alerts-to-slack.yml
Due: none

Updated Node Version for spell-check workflow
  .github/workflows/spell-check.yml
Due: none

Fix CVEs Issues found in diffend - https://my.diffend.io/constructor-io/projects/constructorio-ui-quizzes/guarding/js/requests/27c8e11d-bfbc-41ad-a91b-6569aa392dd0
  package-lock.json
  package.json
Due: prettier --write

Updated Node Version for spell-check workflow (#238)
  .github/workflows/spell-check.yml
Due: none

npm audit, fix diffend workflow
  package-lock.json
Due: prettier --write

Use Enum instead of magic strings
  spec/__tests__/factories/questions.ts
  spec/components/SelectTypeQuestion/SelectTypeQuestion.server.test.tsx
  spec/components/SelectTypeQuestion/SelectTypeQuestion.test.tsx
  spec/hooks/usePropsGetters/useSelectInputProps/useSelectInputProps.test.tsx
  spec/utils/utils.test.ts
  src/components/CioQuiz/index.tsx
  src/hooks/usePropsGetters/useSelectInputProps.ts
  src/stories/Quiz/tests/mocks.tsx
Due: eslint --fix --quiet, prettier --write --ignore-unknown

npm audit, fix diffend workflow (#239)
  package-lock.json
Due: prettier --write

[QUIZ-815] - Facets as options (#234)
  .d.ts
  jest.setup.ts
  package-lock.json
  package.json
  spec/__tests__/factories/questions.ts
  spec/components/CioQuiz/reducerTestCases.ts
  spec/components/SelectTypeQuestion/SelectTypeQuestion.server.test.tsx
  spec/components/SelectTypeQuestion/SelectTypeQuestion.test.tsx
  spec/hooks/usePropsGetters/useSelectInputProps/useSelectInputProps.test.tsx
  spec/utils/utils.server.test.tsx
  spec/utils/utils.test.ts
  src/components/CioQuiz/actions.ts
  src/components/CioQuiz/index.tsx
  src/components/CioQuiz/quizApiReducer.ts
  src/components/CioQuiz/quizLocalReducer.ts
  src/components/SelectTypeQuestion/SelectTypeQuestion.tsx
  src/hooks/usePropsGetters/useSelectInputProps.ts
  src/hooks/useQuizEvents/useQuizAnswerChangeHandler.ts
  src/stories/Quiz/tests/index.stories.tsx
  src/stories/Quiz/tests/mocks.tsx
  src/types.ts
  src/utils.tsx
Due: eslint --fix --quiet, prettier --write --ignore-unknown, prettier --write

Change CODEOWNERS
  .github/CODEOWNERS
Due: none

Change CODEOWNERS (#242)
  .github/CODEOWNERS
Due: none

[NO-REF] - preserve answers for facets based questions when going back
  src/hooks/usePropsGetters/useSelectInputProps.ts
Due: eslint --fix --quiet, prettier --write --ignore-unknown

Return back empty .d.ts file
  .d.ts
Due: none

Add types to exports field
  package.json
Due: prettier --write

[NO-REF] - preserve answers for facets based questions when going back (#244)
  .d.ts
  package.json
  src/hooks/usePropsGetters/useSelectInputProps.ts
Due: eslint --fix --quiet, prettier --write --ignore-unknown, prettier --write

Add volta config to repo
  package.json
Due: prettier --write

[QUIZ-894] - adding metadata field and a callback to retrieve it
  spec/components/CioQuiz/index.test.tsx
  spec/hooks/useQuizState/useQuizApiState/useQuizApiState.server.test.tsx
  spec/hooks/useQuizState/useQuizApiState/useQuizApiState.test.tsx
  src/components/CioQuiz/quizApiReducer.ts
  src/hooks/useQuizState/useQuizApiState.ts
  src/stories/Quiz/argTypes.ts
  src/types.ts
  src/utils.tsx
Due: eslint --fix --quiet, prettier --write --ignore-unknown

Fix reducer test
  spec/components/CioQuiz/reducerTestCases.ts
Due: none

Fix index story test
  src/stories/Quiz/tests/index.stories.tsx
Due: none

[CDx-180] Add volta config to repo (#245)
  package.json
Due: prettier --write

Expose metadata in state quiz object
  src/hooks/useQuiz.ts
Due: eslint --fix --quiet, prettier --write --ignore-unknown

Update javascript lib version
  package.json
Due: prettier --write

Update package.lock
  package-lock.json
Due: prettier --write

Fix tests
  spec/__tests__/factories/questions.ts
  spec/components/CioQuiz/index.test.tsx
  spec/components/QuizQuestions/index.server.test.tsx
  spec/components/QuizQuestions/index.test.tsx
  src/types.ts
Due: eslint --fix --quiet, prettier --write --ignore-unknown

[QUIZ-894] - adding metadata and a callback to retrieve it (#246)
  package-lock.json
  package.json
  spec/__tests__/factories/questions.ts
  spec/components/CioQuiz/index.test.tsx
  spec/components/CioQuiz/reducerTestCases.ts
  spec/components/QuizQuestions/index.server.test.tsx
  spec/components/QuizQuestions/index.test.tsx
  spec/hooks/useQuizState/useQuizApiState/useQuizApiState.server.test.tsx
  spec/hooks/useQuizState/useQuizApiState/useQuizApiState.test.tsx
  src/components/CioQuiz/quizApiReducer.ts
  src/hooks/useQuiz.ts
  src/hooks/useQuizState/useQuizApiState.ts
  src/stories/Quiz/argTypes.ts
  src/stories/Quiz/tests/index.stories.tsx
  src/types.ts
  src/utils.tsx
Due: eslint --fix --quiet, prettier --write --ignore-unknown, prettier --write

update text
  src/stories/Quiz/Hooks/Docs/markdown/EventsDocs.md
Due: prettier --write

removed unwanted changes
  spec/hooks/usePrevious/usePrevious.test.tsx
  spec/hooks/useQuizState/useQuizApiState/useQuizApiState.test.tsx
  src/hooks/usePrevious.ts
  src/hooks/useQuizState/useQuizApiState.ts
  src/hooks/useQuizState/useSessionStorageState.ts
Due: eslint --fix --quiet, prettier --write --ignore-unknown

added a jump to question event
  src/components/CioQuiz/actions.ts
  src/components/CioQuiz/context.ts
  src/components/CioQuiz/index.tsx
  src/components/CioQuiz/quizApiReducer.ts
  src/components/CioQuiz/quizLocalReducer.ts
  src/hooks/usePropsGetters/index.ts
  src/hooks/usePropsGetters/useJumpToQuestionButtonProps.ts
  src/hooks/useQuizEvents/index.ts
  src/hooks/useQuizEvents/useJumpToQuestion.ts
  src/hooks/useQuizEvents/useQuizResetClick.ts
  src/types.ts
Due: eslint --fix --quiet, prettier --write --ignore-unknown

"Claude PR Assistant workflow"
  .github/workflows/claude.yml
Due: none

"Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Due: none
