Repository Constructor-io/constructorio-ui-quizzes: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --quiet, prettier --write --ignore-unknown, prettier --write

.lintstagedrc.json:

{
  "src/**/*.ts": ["eslint --fix --quiet", "prettier --write --ignore-unknown"],
  "*.{json,md}": ["prettier --write"]
}

added coverage
  spec/components/ResultsHeaderContainer/ResultsHeaderContainer.test.tsx
Due: none

added jest-fail-on-console
  jest.setup.ts
  package-lock.json
  package.json
Due: prettier --write

removed consoling in terminal
  spec/hooks/useCioClient/useCioClient.test.tsx
Due: none

share modal tests
  spec/components/ShareResultsModal/EmailField.server.test.tsx
  spec/components/ShareResultsModal/EmailField.test.tsx
  spec/components/ShareResultsModal/LinkField.server.test.tsx
  spec/components/ShareResultsModal/LinkField.test.tsx
  spec/components/ShareResultsModal/ShareResultsModal.server.test.tsx
  spec/components/ShareResultsModal/ShareResultsModal.test.tsx
Due: none

share modal tests
  spec/components/ShareResultsModal/EmailField.test.tsx
Due: none

added more tests
  spec/components/CioQuiz/index.test.tsx
  spec/components/CioQuiz/quizApiReducer.server.test.ts
  spec/components/CioQuiz/quizApiReducer.test.ts
  spec/components/CioQuiz/quizLocalReducer.server.test.ts
  spec/components/CioQuiz/quizLocalReducer.test.ts
  spec/components/CioQuiz/reducerTestCases.ts
  spec/utils.server.test.tsx
  spec/utils.test.tsx
  src/utils.tsx
Due: none

added more tests
  spec/utils.test.tsx
  spec/utils/utils.server.test.tsx
  spec/utils/utils.test.ts
Due: none

added more test for utils
  spec/utils/utils.test.ts
  src/utils.tsx
Due: none

removed unwanted packages
  package-lock.json
  package.json
Due: prettier --write

removed ununsed helper fn
  spec/__tests__/utils.tsx
Due: none

avoid using act in jsx tests
  spec/components/ShareResultsModal/EmailField.test.tsx
  spec/components/ShareResultsModal/ShareResultsModal.test.tsx
Due: none

fix
  spec/components/CioQuiz/index.test.tsx
  spec/components/QuizQuestions/index.server.test.tsx
  spec/components/QuizQuestions/index.test.tsx
  spec/components/Results/Results.server.test.tsx
  spec/components/Results/Results.test.tsx
  spec/components/SelectTypeQuestion/SelectTypeQuestion.server.test.tsx
  spec/components/SelectTypeQuestion/SelectTypeQuestion.test.tsx
  spec/components/ShareResultsModal/LinkField.test.tsx
Due: none

fix
  spec/components/CioQuiz/quizApiReducer.server.test.ts
  spec/components/CioQuiz/quizApiReducer.test.ts
  spec/components/CioQuiz/quizLocalReducer.server.test.ts
  spec/components/CioQuiz/quizLocalReducer.test.ts
  spec/components/CioQuiz/reducerTestCases.ts
Due: none

remove launch
  .vscode/launch.json
Due: prettier --write

add testcase
  spec/hooks/useSelectInputProps/useSelectInputProps.test.tsx
Due: none

add more testcases
  spec/hooks/useQuizApiState/useQuizApiState.test.tsx
Due: none

move test hooks
  spec/hooks/useQuizState/useQuizApiState/useQuizApiState.server.test.tsx
  spec/hooks/useQuizState/useQuizApiState/useQuizApiState.test.tsx
  spec/hooks/useQuizState/useQuizLocalState/useQuizLocalState.server.test.tsx
  spec/hooks/useQuizState/useQuizLocalState/useQuizLocalState.test.tsx
  spec/hooks/useQuizState/useSessionStorageState/useSessionStorageState.server.test.tsx
  spec/hooks/useQuizState/useSessionStorageState/useSessionStorageState.test.tsx
Due: none

small refactoring
  spec/hooks/useQuizEvents/useQuizAddToFavorites/useQuizAddToFavorites.test.tsx
  spec/hooks/useQuizEvents/useQuizResultClick/useQuizResultClick.test.tsx
  spec/hooks/useQuizEvents/useQuizResultsLoaded/useQuizResultsLoaded.server.test.tsx
  spec/hooks/useQuizEvents/useQuizResultsLoaded/useQuizResultsLoaded.test.tsx
  spec/hooks/useQuizEvents/useQuizSkipClick/useQuizSkipClick.server.test.tsx
  spec/hooks/useQuizState/useQuizApiState/useQuizApiState.server.test.tsx
  spec/hooks/useQuizState/useQuizApiState/useQuizApiState.test.tsx
Due: none

added results
  spec/components/ShareResultsModal/ShareResultsModal.test.tsx
  src/components/ShareResultsModal/ShareResultsModal.tsx
  src/types.ts
Due: eslint --fix --quiet, prettier --write --ignore-unknown

updated result data set exposed in email callback
  src/components/ShareResultsModal/ShareResultsModal.tsx
  src/types.ts
Due: eslint --fix --quiet, prettier --write --ignore-unknown

updated result data set exposed in email callback
  spec/components/ShareResultsModal/ShareResultsModal.test.tsx
Due: none

Add results to email callback (#182)
  spec/components/ShareResultsModal/ShareResultsModal.test.tsx
  src/components/ShareResultsModal/ShareResultsModal.tsx
  src/types.ts
Due: eslint --fix --quiet, prettier --write --ignore-unknown

Update docs
  src/stories/Quiz/argTypes.ts
Due: eslint --fix --quiet, prettier --write --ignore-unknown

[NO-CI] Update docs (#183)
  src/stories/Quiz/argTypes.ts
Due: eslint --fix --quiet, prettier --write --ignore-unknown

Update check-types command
  package.json
Due: prettier --write

Update check-types command (#187)
  package.json
Due: prettier --write

Update to secure storybook version
  package-lock.json
  package.json
Due: prettier --write

Add code owners
  .github/CODEOWNERS
Due: none

Add new line to end of code owners file
  .github/CODEOWNERS
Due: none

update ip
  package-lock.json
  package.json
Due: prettier --write

Update dependencies and add code owners (#188)
  .github/CODEOWNERS
  package-lock.json
  package.json
Due: prettier --write

Update hardcoded image asset URLs
  src/stories/Quiz/Component/QuizResults/ResultCard.stories.tsx
  src/stories/Quiz/tests/mocks.tsx
Due: none

Update hardcoded image asset URLs (#190)
  src/stories/Quiz/Component/QuizResults/ResultCard.stories.tsx
  src/stories/Quiz/tests/mocks.tsx
Due: none

minor fix
  src/stories/Quiz/Hooks/Docs/markdown/StateDocs.md
Due: prettier --write

Results modal toaster show/hide
  src/components/ShareResultsModal/CloseSVG.tsx
  src/components/ShareResultsModal/EmailField.tsx
  src/components/ShareResultsModal/LinkField.tsx
  src/components/ShareResultsModal/Toaster.tsx
  src/styles.css
Due: none

Add tests
  spec/components/ShareResultsModal/Toaster.test.server.tsx
  spec/components/ShareResultsModal/Toaster.test.tsx
  src/components/ShareResultsModal/CloseSVG.tsx
Due: none

make icon smaller
  src/styles.css
Due: none

Add share results modal placeholder
  src/components/ShareResultsModal/EmailField.tsx
Due: none
