Repository Constructor-io/constructorio-ui-quizzes: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --quiet, prettier --write --ignore-unknown, prettier --write

.lintstagedrc.json:

{
  "src/**/*.ts": ["eslint --fix --quiet", "prettier --write --ignore-unknown"],
  "*.{json,md}": ["prettier --write"]
}

Add support for variations on quiz results page (#228)
  spec/__tests__/constants.ts
  spec/components/ResultCard/ResultCard.server.test.tsx
  spec/components/ResultCard/ResultCard.test.tsx
  spec/components/ResultCardSwatches/ResultCardSwatches.server.test.tsx
  spec/components/ResultCardSwatches/ResultCardSwatches.test.tsx
  spec/components/Results/Results.server.test.tsx
  spec/components/Results/Results.test.tsx
  spec/hooks/useResultCard/useResultCard.server.test.tsx
  spec/hooks/useResultCard/useResultCard.test.tsx
  src/components/ResultCard/ResultCard.tsx
  src/components/ResultCardSwatches/ResultCardSwatches.tsx
  src/components/ResultContainer/ResultContainer.tsx
  src/components/Results/Results.tsx
  src/hooks/useResultCard.tsx
  src/index.ts
  src/services/index.ts
  src/stories/Quiz/Component/ComponentStories.stories.tsx
  src/stories/Quiz/Component/Usage Examples.mdx
  src/stories/Quiz/Hooks/Docs/markdown/UseResultDocs.md
  src/stories/Quiz/Hooks/Docs/useResult.mdx
  src/styles.css
  src/types.ts
Due: eslint --fix --quiet, prettier --write --ignore-unknown, prettier --write

Bump packages
  package-lock.json
Due: prettier --write

Bump packages (#264)
  package-lock.json
Due: prettier --write

support new quiz type question
  src/components/CioQuiz/actions.ts
  src/components/CioQuiz/quizApiReducer.ts
  src/components/CioQuiz/quizLocalReducer.ts
  src/components/QuizQuestions/index.tsx
  src/stories/Quiz/Component/QuestionTypes/FreeFormQuestion.stories.tsx
  src/types.ts
  src/utils.tsx
Due: eslint --fix --quiet, prettier --write --ignore-unknown

fix pretiter
  src/types.ts
Due: eslint --fix --quiet, prettier --write --ignore-unknown

fix tests
  spec/utils/utils.server.test.tsx
  spec/utils/utils.test.ts
Due: none

fix tests
  spec/components/CioQuiz/reducerTestCases.ts
Due: none

Add hide_previous_comments flag to Claude review workflow
  .github/workflows/claude-review.yml
Due: none

Add hide_previous_comments flag to Claude review workflow (#268)
  .github/workflows/claude-review.yml
Due: none

[QUIZ-922] - summary screen
  spec/components/CioQuiz/index.test.tsx
  spec/components/CioQuiz/reducerTestCases.ts
  spec/components/SummaryPage/SummaryPage.test.tsx
  spec/hooks/usePropsGetters/useOpenTextInputProps/useOpenTextInputProps.test.tsx
  spec/hooks/useQuizState/useQuizApiState/useQuizApiState.test.tsx
  spec/hooks/useQuizState/useQuizLocalState/useQuizLocalState.server.test.tsx
  spec/hooks/useQuizState/useQuizLocalState/useQuizLocalState.test.tsx
  spec/hooks/useQuizState/useSessionStorageState/useSessionStorageState.server.test.tsx
  spec/hooks/useQuizState/useSessionStorageState/useSessionStorageState.test.tsx
  src/components/CioQuiz/actions.ts
  src/components/CioQuiz/index.tsx
  src/components/CioQuiz/quizLocalReducer.ts
  src/components/SummaryPage/SummaryPage.tsx
  src/constants.ts
  src/hooks/useQuiz.ts
  src/hooks/useQuizEvents/index.ts
  src/hooks/useQuizEvents/useProceedToResultsFromSummaryPage.ts
  src/hooks/useQuizEvents/useQuizAnswerChangeHandler.ts
  src/hooks/useQuizState/index.ts
  src/hooks/useQuizState/useQuizApiState.ts
  src/hooks/useQuizState/useSessionStorageState.ts
  src/stories/Quiz/Component/ComponentStories.stories.tsx
  src/stories/Quiz/Component/Usage Examples.mdx
  src/stories/Quiz/tests/mocks.tsx
  src/styles.css
  src/types.ts
  src/utils.tsx
Due: eslint --fix --quiet, prettier --write --ignore-unknown

update cleint-js-lib version
  package-lock.json
  package.json
Due: prettier --write

Add publish to cdn workflow
  .github/workflows/publish-cdn.yml
  .github/workflows/publish.yml
Due: none

Add publish to cdn workflow (#270)
  .github/workflows/publish-cdn.yml
  .github/workflows/publish.yml
Due: none

Update node version
  .github/workflows/publish-cdn.yml
Due: none

Update node version (#271)
  .github/workflows/publish-cdn.yml
Due: none

gracefully handle error state
  src/components/CioQuiz/ErrorIconSVG.tsx
  src/components/CioQuiz/index.tsx
  src/components/ZeroResults/LightbulbIconSVG.tsx
  src/components/ZeroResults/ZeroResults.tsx
  src/stories/Quiz/Component/ErrorAndZeroResults.stories.tsx
  src/stories/Quiz/Component/QuizResults/QuizResultsDecorator.tsx
  src/stories/Quiz/Component/QuizResults/ZeroResults.stories.tsx
  src/stories/Quiz/tests/mocks.tsx
  src/styles.css
Due: none

gracefully handle error state
  src/components/ZeroResults/ZeroResults.tsx
  src/stories/Quiz/Component/ErrorAndZeroResults.stories.tsx
  src/stories/Quiz/Component/QuizResults/QuizResultsDecorator.tsx
  src/stories/Quiz/Component/QuizResults/ZeroResults.stories.tsx
Due: none

fix tests
  spec/components/ResultContainer/ResultContainer.server.test.tsx
  spec/components/ResultContainer/ResultContainer.test.tsx
  spec/components/ZeroResults/ZeroResults.server.test.tsx
  spec/components/ZeroResults/ZeroResults.test.tsx
  src/components/CioQuiz/index.tsx
Due: none

fix lint
  src/components/CioQuiz/index.tsx
Due: none

Add comment
  src/components/OpenTextTypeQuestion/OpenTextTypeQuestion.tsx
Due: none

Update node version in test-storybook Github action
  .github/workflows/test-storybook.yml
Due: none

Update node version in test-storybook action
  .github/workflows/test-storybook.yml
Due: none

Upgrade to Storybook 10 properly
  .storybook/cioTheme.js
  .storybook/main.js
  .storybook/manager.js
  .storybook/preview.jsx
  .storybook/storybook-styles.css
  package-lock.json
  package.json
  src/stories/Quiz/Component/Live Example.mdx
  src/stories/Quiz/Component/Props.mdx
  src/stories/Quiz/Component/QuestionTypes.mdx
  src/stories/Quiz/Component/QuestionTypes/QuestionTypeDecorator.tsx
  src/stories/Quiz/Component/QuizResults/QuizResultsDecorator.tsx
  src/stories/Quiz/Component/ResultContainer.mdx
  src/stories/Quiz/Component/Usage Examples.mdx
  src/stories/Quiz/Hooks/Docs/Live Example.mdx
  src/stories/Quiz/Hooks/Docs/Props.mdx
  src/stories/Quiz/Hooks/Docs/Usage Examples.mdx
  src/stories/Quiz/Hooks/Docs/useCioQuiz.mdx
  src/stories/Quiz/Hooks/Docs/useResult.mdx
  src/stories/Quiz/tests/index.stories.tsx
Due: prettier --write

Lint
  package-lock.json
  package.json
  src/stories/Quiz/Component/ComponentStories.stories.tsx
  src/stories/Quiz/Component/QuestionTypes/CoverQuestion.stories.tsx
  src/stories/Quiz/Component/QuestionTypes/MultipleSelectQuestion.stories.tsx
  src/stories/Quiz/Component/QuestionTypes/OpenTextQuestion.stories.tsx
  src/stories/Quiz/Component/QuestionTypes/SingleSelectQuestion.stories.tsx
  src/stories/Quiz/Component/QuizResults/QuizResults.stories.tsx
  src/stories/Quiz/Component/QuizResults/ResultCard.stories.tsx
  src/stories/Quiz/Hooks/HooksStories.stories.tsx
  src/stories/Quiz/tests/index.stories.tsx
Due: prettier --write

Bring in babel
  .storybook/main.js
  package-lock.json
  package.json
Due: prettier --write

Revert docs change
  .storybook/main.js
Due: none

revert
  .storybook/main.js
Due: none

Update lint node version
  .github/workflows/run-lint.yml
Due: none

Update package.json
  package.json
Due: prettier --write

Update node version for test runner
  .github/workflows/test-storybook.yml
Due: none

Update actions to use setup-node@v4 and node@22
  .github/workflows/check-types.yml
  .github/workflows/deploy-storybook.yml
  .github/workflows/publish-npm.yml
  .github/workflows/publish.yml
  .github/workflows/run-diffend.yml
  .github/workflows/run-license-check.yml
  .github/workflows/spell-check.yml
  .github/workflows/test-storybook.yml
Due: none

Revert to Node v18 for diffend workflow for incompatibility
  .github/workflows/run-diffend.yml
Due: none

[CDX-385] Fix Storybook (#275)
  .github/workflows/check-types.yml
  .github/workflows/deploy-storybook.yml
  .github/workflows/publish-npm.yml
  .github/workflows/publish.yml
  .github/workflows/run-diffend.yml
  .github/workflows/run-license-check.yml
  .github/workflows/run-lint.yml
  .github/workflows/spell-check.yml
  .github/workflows/test-storybook.yml
  .storybook/cioTheme.js
  .storybook/main.js
  .storybook/manager.js
  .storybook/preview.jsx
  .storybook/storybook-styles.css
  package-lock.json
  package.json
  src/stories/Quiz/Component/ComponentStories.stories.tsx
  src/stories/Quiz/Component/Live Example.mdx
  src/stories/Quiz/Component/Props.mdx
  src/stories/Quiz/Component/QuestionTypes.mdx
  src/stories/Quiz/Component/QuestionTypes/CoverQuestion.stories.tsx
  src/stories/Quiz/Component/QuestionTypes/MultipleSelectQuestion.stories.tsx
  src/stories/Quiz/Component/QuestionTypes/OpenTextQuestion.stories.tsx
  src/stories/Quiz/Component/QuestionTypes/QuestionTypeDecorator.tsx
  src/stories/Quiz/Component/QuestionTypes/SingleSelectQuestion.stories.tsx
  src/stories/Quiz/Component/QuizResults/QuizResults.stories.tsx
  src/stories/Quiz/Component/QuizResults/QuizResultsDecorator.tsx
  src/stories/Quiz/Component/QuizResults/ResultCard.stories.tsx
  src/stories/Quiz/Component/ResultContainer.mdx
  src/stories/Quiz/Component/Usage Examples.mdx
  src/stories/Quiz/Hooks/Docs/Live Example.mdx
  src/stories/Quiz/Hooks/Docs/Props.mdx
  src/stories/Quiz/Hooks/Docs/Usage Examples.mdx
  src/stories/Quiz/Hooks/Docs/useCioQuiz.mdx
  src/stories/Quiz/Hooks/Docs/useResult.mdx
  src/stories/Quiz/Hooks/HooksStories.stories.tsx
  src/stories/Quiz/tests/index.stories.tsx
Due: prettier --write

Fix import, fix package-lock
  package-lock.json
  src/stories/Quiz/Component/QuestionTypes/FreeFormQuestion.stories.tsx
Due: prettier --write

QUIZ-890: quiz aisa quizzes quizzes UI js library (#267)
  package-lock.json
  package.json
  spec/components/CioQuiz/reducerTestCases.ts
  spec/utils/utils.server.test.tsx
  spec/utils/utils.test.ts
  src/components/CioQuiz/actions.ts
  src/components/CioQuiz/quizApiReducer.ts
  src/components/CioQuiz/quizLocalReducer.ts
  src/components/OpenTextTypeQuestion/OpenTextTypeQuestion.tsx
  src/components/QuizQuestions/index.tsx
  src/stories/Quiz/Component/QuestionTypes/FreeFormQuestion.stories.tsx
  src/types.ts
  src/utils.tsx
Due: eslint --fix --quiet, prettier --write --ignore-unknown, prettier --write

update story
  src/stories/Quiz/Component/ErrorAndZeroResults.stories.tsx
Due: none

fix reset state
  spec/hooks/useQuizEvents/useQuizResetClick/useQuizResetClick.server.test.ts
  spec/hooks/useQuizEvents/useQuizResetClick/useQuizResetClick.test.ts
  src/hooks/useQuizEvents/index.ts
  src/hooks/useQuizEvents/useQuizResetClick.ts
Due: eslint --fix --quiet, prettier --write --ignore-unknown

fix copilot
  src/stories/Quiz/Component/QuizResults/ZeroResults.stories.tsx
Due: none
