Repository Constructor-io/constructorio-ui-quizzes: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --quiet, prettier --write --ignore-unknown, prettier --write

.lintstagedrc.json:

{
  "src/**/*.ts": ["eslint --fix --quiet", "prettier --write --ignore-unknown"],
  "*.{json,md}": ["prettier --write"]
}

revert the test that fails on push hook
  spec/components/BackButton/BackButton.test.tsx
Due: none

fix spawn command
  scripts/run-tests.ts
Due: none

use changedsince to run test
  .husky/pre-push
  scripts/run-tests.ts
Due: none

revert unwanted
  cspell.json
Due: prettier --write

revoved ts-node from dev dep
  package-lock.json
  package.json
Due: prettier --write

minor fix
  tsconfig.build.json
  tsconfig.json
Due: prettier --write

Rename mjs file
  package.json
  tsconfig-mjs.json
Due: prettier --write

[QUIZ-689] post mortem quizzes os UI library test coverage set up (#175)
  .eslintrc.json
  .husky/pre-push
  jest.config.js
  jest.setup.ts
  package-lock.json
  package.json
  spec/__tests__/constants.ts
  spec/__tests__/utils.server.tsx
  spec/__tests__/utils.tsx
  spec/components/BackButton/BackButton.server.test.tsx
  spec/components/BackButton/BackButton.test.tsx
  spec/components/CTAButton/CTAButton.server.test.tsx
  spec/components/CTAButton/CTAButton.test.tsx
  spec/components/ControlBar/ControlBar.server.test.tsx
  spec/components/ControlBar/ControlBar.test.tsx
  spec/components/SkipButton/SkipButton.server.test.tsx
  spec/components/SkipButton/SkipButton.test.tsx
  src/stories/Quiz/Examples/RetrievingAnswers.tsx
  src/stories/Quiz/Hooks/HooksStories.stories.tsx
  src/stories/Quiz/tests/mocks.tsx
  tsconfig-mjs.json
  tsconfig.eslint.json
  tsconfig.json
Due: prettier --write

Add more tests
  docs/268.2908f021.iframe.bundle.js
  docs/268.2908f021.iframe.bundle.js.LICENSE.txt
  docs/663.0107bd1f.iframe.bundle.js
  docs/663.0107bd1f.iframe.bundle.js.LICENSE.txt
  docs/663.0f958efb.iframe.bundle.js
  docs/883.222c5f22.iframe.bundle.js
  docs/883.222c5f22.iframe.bundle.js.LICENSE.txt
  docs/883.d7b4045b.iframe.bundle.js
  docs/969.dd335a77.iframe.bundle.js
  docs/iframe.html
  docs/main.4ee124a6.iframe.bundle.js
  docs/main.f0ad132f.iframe.bundle.js
  docs/project.json
  docs/runtime~main.9052aa35.iframe.bundle.js
  docs/runtime~main.cb895033.iframe.bundle.js
  docs/stories-Quiz-Examples-index-stories.56b90618.iframe.bundle.js
  docs/stories-Quiz-Examples-index-stories.76c7a422.iframe.bundle.js
  docs/stories-Quiz-Hooks-HooksStories-stories.8ed253fd.iframe.bundle.js
  docs/stories-Quiz-Hooks-HooksStories-stories.ed0285ab.iframe.bundle.js
  package-lock.json
  package.json
  src/version.ts
Due: eslint --fix --quiet, prettier --write --ignore-unknown, prettier --write

Move publish to GHA
  .github/actions/compile/action.yml
  .github/actions/create-version-tag/action.yml
  .github/actions/remove-version-prefix/action.yml
  .github/workflows/create-github-release.yml
  .github/workflows/deploy-storybook.yml
  .github/workflows/publish-npm.yml
  .github/workflows/publish.yml
  README.md
  package.json
  scripts/verify-node-version.sh
  src/generateVersion.js
  src/version.ts
  tsconfig-cjs.json
Due: eslint --fix --quiet, prettier --write --ignore-unknown, prettier --write

Update readme
  README.md
Due: prettier --write

Uncomment workflow dispatch
  .github/workflows/publish.yml
Due: none

Remove cdn step
  .github/workflows/publish.yml
Due: none

Update deploy storybook step
  .github/workflows/publish.yml
Due: none

Update gitignore and package-lock
  .gitignore
  package-lock.json
Due: prettier --write

Run on push
  .github/workflows/publish.yml
Due: none

Remove push hook
  .github/workflows/publish.yml
Due: none

useCioClient test
  spec/hooks/useCioClient.server.test.tsx
  spec/hooks/useCioClient.test.tsx
Due: none

useConsoleErrors & refactoring
  jest.setup.ts
  spec/hooks/useCioClient/useCioClient.client.test.tsx
  spec/hooks/useCioClient/useCioClient.server.test.tsx
  spec/hooks/useConsoleErrors/useConsoleErrors.client.test.tsx
  spec/hooks/useConsoleErrors/useConsoleErrors.server.test.tsx
Due: none

useQueryParams test
  spec/hooks/useQueryParams/useQueryParams.client.test.tsx
  spec/hooks/useQueryParams/useQueryParams.server.test.tsx
  src/hooks/useQueryParams.ts
Due: eslint --fix --quiet, prettier --write --ignore-unknown

useShareResultsLink test
  spec/hooks/useShareResultsLink/useShareResultsLink.client.test.tsx
  spec/hooks/useShareResultsLink/useShareResultsLink.server.test.tsx
  src/hooks/useShareResultsLink.ts
Due: eslint --fix --quiet, prettier --write --ignore-unknown

more hook tests
  spec/hooks/useConsoleErrors/useConsoleErrors.client.test.tsx
  spec/hooks/useQueryParams/useQueryParams.client.test.tsx
  spec/hooks/useQuizApiState/useQuizApiState.client.test.tsx
  spec/hooks/useQuizApiState/useQuizApiState.server.test.tsx
Due: none

fix
  spec/hooks/useQuizApiState/useQuizApiState.server.test.tsx
Due: none

fix linter
  spec/hooks/useQuizApiState/useQuizApiState.client.test.tsx
  spec/hooks/useShareResultsLink/useShareResultsLink.client.test.tsx
  spec/hooks/useShareResultsLink/useShareResultsLink.server.test.tsx
Due: none

added more tests
  spec/hooks/useCioClient/useCioClient.client.test.tsx
  spec/hooks/useCioClient/useCioClient.server.test.tsx
  spec/hooks/useConsoleErrors/useConsoleErrors.server.test.tsx
  spec/hooks/useQuizApiState/useQuizApiState.server.test.tsx
  spec/hooks/useQuizLocalState/useQuizLocalState.client.test.tsx
  spec/hooks/useQuizLocalState/useQuizLocalState.server.test.tsx
Due: none

add useSessionStorageState test
  spec/hooks/useSessionStorageState/useSessionStorageState.client.test.tsx
  spec/hooks/useSessionStorageState/useSessionStorageState.server.test.tsx
Due: none

usePrimaryColorStyles test
  spec/hooks/usePrimaryColorStyles/usePrimaryColorStyles.client.test.tsx
  spec/hooks/usePrimaryColorStyles/usePrimaryColorStyles.server.test.tsx
Due: none

useCoverQuestionProps
  spec/hooks/useCoverQuestionProps/useCoverQuestionProps.client.test.tsx
  spec/hooks/useCoverQuestionProps/useCoverQuestionProps.server.test.tsx
  spec/hooks/useSessionStorageState/useSessionStorageState.client.test.tsx
  src/hooks/usePropsGetters/useCoverQuestionProps.ts
Due: eslint --fix --quiet, prettier --write --ignore-unknown

useNextQuestionButtonProps
  spec/hooks/useNextQuestionButtonProps/useNextQuestionButtonProps.client.test.tsx
  spec/hooks/useNextQuestionButtonProps/useNextQuestionButtonProps.server.test.tsx
Due: none

useAddToFavoritesButtonProps
  spec/hooks/useAddToFavoritesButtonProps/useAddToFavoritesButtonProps.client.test.tsx
  spec/hooks/useAddToFavoritesButtonProps/useAddToFavoritesButtonProps.server.test.tsx
Due: none

more tests
  spec/hooks/useHydrateQuizLocalState/useHydrateQuizLocalState.client.test.tsx
  spec/hooks/useHydrateQuizLocalState/useHydrateQuizLocalState.server.test.tsx
  spec/hooks/useOpenTextInputProps/useOpenTextInputProps.client.test.tsx
  spec/hooks/useOpenTextInputProps/useOpenTextInputProps.server.test.tsx
  spec/hooks/usePreviousQuestionButtonProps/usePreviousQuestionButtonProps.client.test.tsx
  spec/hooks/usePreviousQuestionButtonProps/usePreviousQuestionButtonProps.server.test.tsx
  spec/hooks/useQuizAddToFavorites/useQuizAddToFavorites.client.test.tsx
  spec/hooks/useQuizAddToFavorites/useQuizAddToFavorites.server.test.tsx
  spec/hooks/useQuizBackClick/useQuizBackClick.client.test.tsx
  spec/hooks/useQuizBackClick/useQuizBackClick.server.test.tsx
  spec/hooks/useQuizNextClick/useQuizNextClick.client.test.tsx
  spec/hooks/useQuizNextClick/useQuizNextClick.server.test.tsx
  spec/hooks/useQuizResultClick/useQuizResultClick.client.test.tsx
  spec/hooks/useQuizResultClick/useQuizResultClick.server.test.tsx
  spec/hooks/useQuizResultsLoaded/useQuizResultsLoaded.client.test.tsx
  spec/hooks/useQuizResultsLoaded/useQuizResultsLoaded.server.test.tsx
  spec/hooks/useQuizSkipClick/useQuizSkipClick.client.test.tsx
  spec/hooks/useQuizSkipClick/useQuizSkipClick.server.test.tsx
  spec/hooks/useSelectInputProps/useSelectInputProps.client.test.tsx
  spec/hooks/useSelectInputProps/useSelectInputProps.server.test.tsx
  spec/hooks/useShareResultsLink/useShareResultsLink.server.test.tsx
  spec/hooks/useSkipQuestionButtonProps/useSkipQuestionButtonProps.client.test.tsx
  spec/hooks/useSkipQuestionButtonProps/useSkipQuestionButtonProps.server.test.tsx
  src/types.ts
  src/utils.tsx
Due: eslint --fix --quiet, prettier --write --ignore-unknown

small fix
  spec/__tests__/utils.tsx
  spec/hooks/useCioClient/useCioClient.client.test.tsx
  spec/hooks/useCioClient/useCioClient.server.test.tsx
  spec/hooks/useQuizAddToFavorites/useQuizAddToFavorites.client.test.tsx
  spec/hooks/useQuizAddToFavorites/useQuizAddToFavorites.server.test.tsx
  spec/hooks/useQuizApiState/useQuizApiState.client.test.tsx
  spec/hooks/useQuizApiState/useQuizApiState.server.test.tsx
  spec/hooks/useQuizResultClick/useQuizResultClick.client.test.tsx
  spec/hooks/useQuizResultClick/useQuizResultClick.server.test.tsx
  spec/hooks/useQuizResultsLoaded/useQuizResultsLoaded.client.test.tsx
  spec/hooks/useQuizResultsLoaded/useQuizResultsLoaded.server.test.tsx
Due: none

utils
  spec/__tests__/utils/utils.test.ts
Due: none

move utils
  .vscode/launch.json
  spec/hooks/useAddToFavoritesButtonProps/useAddToFavoritesButtonProps.test.tsx
  spec/hooks/useCioClient/useCioClient.test.tsx
  spec/hooks/useConsoleErrors/useConsoleErrors.test.tsx
  spec/hooks/useCoverQuestionProps/useCoverQuestionProps.test.tsx
  spec/hooks/useHydrateQuizLocalState/useHydrateQuizLocalState.test.tsx
  spec/hooks/useNextQuestionButtonProps/useNextQuestionButtonProps.test.tsx
  spec/hooks/useOpenTextInputProps/useOpenTextInputProps.test.tsx
  spec/hooks/usePreviousQuestionButtonProps/usePreviousQuestionButtonProps.test.tsx
  spec/hooks/usePrimaryColorStyles/usePrimaryColorStyles.test.tsx
  spec/hooks/useQueryParams/useQueryParams.test.tsx
  spec/hooks/useQuizAddToFavorites/useQuizAddToFavorites.test.tsx
  spec/hooks/useQuizApiState/useQuizApiState.test.tsx
  spec/hooks/useQuizBackClick/useQuizBackClick.test.tsx
  spec/hooks/useQuizLocalState/useQuizLocalState.test.tsx
  spec/hooks/useQuizNextClick/useQuizNextClick.test.tsx
  spec/hooks/useQuizResultClick/useQuizResultClick.test.tsx
  spec/hooks/useQuizResultsLoaded/useQuizResultsLoaded.test.tsx
  spec/hooks/useQuizSkipClick/useQuizSkipClick.test.tsx
  spec/hooks/useSelectInputProps/useSelectInputProps.test.tsx
  spec/hooks/useSessionStorageState/useSessionStorageState.test.tsx
  spec/hooks/useShareResultsLink/useShareResultsLink.test.tsx
  spec/hooks/useSkipQuestionButtonProps/useSkipQuestionButtonProps.test.tsx
  spec/utils/utils.test.ts
Due: prettier --write

add constatnts & fixes
  spec/__tests__/constants.ts
  spec/hooks/useCioClient/useCioClient.server.test.tsx
  spec/hooks/useConsoleErrors/useConsoleErrors.server.test.tsx
  spec/hooks/useConsoleErrors/useConsoleErrors.test.tsx
  spec/hooks/useQuizApiState/useQuizApiState.server.test.tsx
  spec/hooks/useQuizApiState/useQuizApiState.test.tsx
  spec/hooks/useSelectInputProps/useSelectInputProps.test.tsx
  spec/hooks/useSessionStorageState/useSessionStorageState.server.test.tsx
  src/hooks/usePropsGetters/useSelectInputProps.ts
Due: eslint --fix --quiet, prettier --write --ignore-unknown

add constatnts & fixes
  spec/__tests__/constants.ts
  spec/hooks/useQuizApiState/useQuizApiState.test.tsx
  spec/hooks/useSessionStorageState/useSessionStorageState.server.test.tsx
Due: none

add more test
  spec/hooks/useSelectInputProps/useSelectInputProps.test.tsx
  src/hooks/usePropsGetters/useSelectInputProps.ts
Due: eslint --fix --quiet, prettier --write --ignore-unknown
